################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ToyLibrarySolution/ToyLibrarySolution.Server/obj
/ToyLibrarySolution/toylibrarysolution.client/obj/Debug
/.vs
/ToyLibrarySolution/.vs
